<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devipriya.reportcard" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SubjectsEntryActivity"
            android:label="@string/title_activity_subjects" >
        </activity>
        <activity
            android:name=".activities.TestsEntryActivity"
            android:label="@string/title_activity_tests" >
        </activity>
        <activity
            android:name=".activities.MarksEntryActivity"
            android:label="@string/title_activity_marks" >
        </activity>
        <activity
            android:name=".activities.ReportCardActivity"
            android:label="@string/title_activity_report_card" >
        </activity>
        <activity
            android:name=".activities.UserSettingsActivity"
            android:label="@string/title_activity_user_settings" >
        </activity>
        <activity
            android:name=".activities.AnalyseActivity"
            android:label="@string/title_activity_analyse" >
        </activity>
        <activity
            android:name=".activities.AnalysisTestActivity"
            android:label="@string/title_activity_analysis__test" >
        </activity>
        <activity
            android:name=".activities.AnalysisSubjectActivity"
            android:label="@string/title_activity_analysis__subject" >
        </activity>
        <activity
            android:name=".activities.GradePrefActivity"
            android:label="@string/title_activity_grade_pref" >
        </activity>
    </application>

</manifest>
